# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

###> symfony/framework-bundle ###
APP_ENV=prod
APP_SECRET=dcf4bc58aa72c3c57cc1b016be51ff4d
ELASTICSEARCH_SERVER_URL=http://localhost:9200
STAT_ELASTICSEARCH_SERVER_URL=http://localhost:9200
ADS_INDEX_NB_SHARDS=1
ADS_INDEX_NB_REPLICAS=1
ADS_STAT_INDEX_NB_SHARDS=1
ADS_STAT_INDEX_NB_REPLICAS=1
ADS_API_APPLY_BOOSTING=0
SYNONYMS_DICTIONARIES_PATH=
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS=localhost,example.com
###< symfony/framework-bundle ###
