<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <title>{% block title %}Welcome!{% endblock %}</title>
  {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/png" href="{{ asset('images/logo48.png') }}" />
</head>
{% set userPrefs = app.session.get('userPrefs') %}
<body class="page-{{ app.request.get('_route') }}{% if userPrefs.menuState is defined and userPrefs.menuState == 'collapsed' %} menu-collapsed{% endif %}">
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
